<% if i_own? @photo %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t("photos.member.manage.title") %></span></h2>
    <div class="portlet_content">
        <%= link_to I18n.t("photos.member.edit.title"), edit_member_picto_photo_path(@photo) %>
        <br/>
        <%= share_with_groups_link(@photo) %>
        <br/>
    </div>
</div>
<% end %>
