<li class="clearfix">
    <div class="image">
        <%=link_to image_for_group(group, 'medium'), member_group_path(group) %>
    </div>
    <div class="title">
        <%= link_to group.display_name, member_group_path(group) %>
    </div>
    <% if local_assigns[:description] and description %>
    <div class="text">
        <%=group.description %>
    </div>
    <% end %>
</li>
