<% quiz = share.shareable %>
<div class="photo">
    <div class="photo_container">
        <%= link_to "Quiz: #{quiz.title}",  my_quiz_path(quiz) %>
    </div>
</div>
<br/>

<div class="portlet portletL">
    <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(quiz.created_at)) %>.
</div>
