

<div id="quiz" class="row">
	<h3>Solution</h3>
</div>
<script id="questionTemplate" type="text/template">
<form id="addQuestion2" action="#">
<div> <label for="question"><@= question @>
</label><label class="radio"><input
	type="radio" name="answer" value="1" <@ if(answer=="1") { @> checked <@ } @> /><@= choice1 @></label> <label class="radio"><input
	type="radio" name="answer" value="2" <@ if(answer=="2") { @> checked <@ } @> /><@= choice2 @></label> <label class="radio"><input
	type="radio" name="answer" value="3" <@ if(answer=="3") { @> checked <@ } @> /><@= choice3 @></label> <label class="radio"><input
	type="radio" name="answer" value="4" <@ if(answer=="4") { @> checked <@ } @> /><@= choice4 @></label>
</div>
</form>
</script>

<script type="text/javascript">
console.log("started");
var quizData = <%= @quiz.content %>;
console.log(quizData);
var page = "quiz:show";
var answerData = [];
</script>

<script src="/javascripts/quiz/jquery-1.7.1.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/quiz/underscore.js"></script>
<script src="/javascripts/quiz/backbone.js"></script>
<script src="/javascripts/quiz/app.js"></script>



