<div class="titleB">
    <%= link_to @group.name, member_group_path(@group) %> > <%= I18n.t("groups.member.admissions.title") %>
</div>
<div class="portlet portletF" id="portlet_featuredUsers">
    <div class="portlet_content">
        <ul>
            <% @entries.each do |entry| %>
			<% profile = Profile.from_wufoo_entry(entry) %>
            <li>
                <%=link_to icon_for_profile(profile, 'medium'), member_group_admission_path(@group, entry["EntryId"]), :title => profile.full_name%>
				<%=link_to profile.full_name,  member_group_admission_path(@group, entry["EntryId"]) %>
            </li>
            <%end %>
        </ul>		
    </div>
</div>
