<% if i_own?(post) %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t('conversatio.views.member.posts.manage.title', :name => post.title) %></span></h2>
    <div class="portlet_content">
        <%= share_with_groups_link(post) %>
        <br/>
        <%= link_to I18n.t('conversatio.views.member.posts.edit.edit_note'), edit_member_conversatio_post_path(post) %>
        <br/>
        <%= link_to I18n.t('posts.member.remove.title'), member_conversatio_post_path(post), :method => :delete, :class => "delete", :confirm => I18n.t('posts.member.remove.confirm') %>
        <br/>
    </div>
</div>
<% end %>
