<% form_for @rubric, :url => member_rubric_path(@rubric) , :html => {:id => 'rubric_form', :method => 'put'} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>

<div class="actions">
    <%= submit_tag I18n.t('rubrics.member.index.create'), {:class => "button mainaction", :accesskey => "s"} %>
</div>
<% end %>