<div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t('rubrics.member.manage.title') %></span></h2>
    <div class="portlet_content">
        <p>
            <%= link_to I18n.t('rubrics.member.index.create'), new_member_rubric_path, :class => 'add' %>
        </p>
    </div>
</div>
