<% include_javascript "busy_ajax" %>
<% include_javascript 'jquery-1.4.2.min' %>
<% include_javascript 'elastic/jquery.elastic' %>
<% include_javascript "busy_ajax_jquery" %>
<% include_stylesheet "rubric" %>

<script type="text/javascript">
	jQuery.noConflict();
</script>

<h2><span><%= I18n.t('rubrics.member.new.title') %></span></h2>
<%= render :partial => 'choose_rubric', :locals => {:action => 'new_template', :title => I18n.t('rubrics.member.new.choose_template') }%>
<br/>
<br/>
<div class="error">
    <%= error_messages_for :rubric %>
</div>
<div id='rubric'>
    <%= render :partial => 'new' %>
</div>
