.testimonials {
    font: 1.2em / 1.4 Cambria, Georgia, sans-serif;
    color: #333;
}

.testimonials .title {
    text-align: center;
    margin-bottom: 50px;
}

a.p1:hover {
    border-bottom: 3px solid #BD4746;
    color: inherit;
}

.quote {
    position: relative;
    padding: 15px 30px;
    margin: 0;
    color: #000;
    background: #D9CA9C; /* default background for browsers without gradient support */
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E6E0D1), to(#D9CA9C));
	background:-moz-linear-gradient(#E6E0D1, #D9CA9C);
	background:-o-linear-gradient(#E6E0D1, #D9CA9C);
	background:linear-gradient(#E6E0D1, #D9CA9C);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.quote + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.quote:after {
	content:"";
	position:absolute;
	bottom:-50px;
	left:50px;
	border-width:0 20px 50px 0px;
	border-style:solid;
	border-color:transparent #D9CA9C;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.quote:hover {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#E8CD9B), to(#D9CA9C));
	background:-moz-linear-gradient(#E8CD9B, #D9CA9C);
	background:-o-linear-gradient(#E8CD9B, #D9CA9C);
	background:linear-gradient(#E8CD9B, #D9CA9C);
	
}

.no-hover:hover{
	 background-color: #F5F3DF;
}
