<% if @assignment.post.user == current_user %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t("assignments.member.manage.title", :name => @assignment.post.title) %></span></h2>
    <div class="portlet_content">
        <%= share_with_groups_link(@assignment) %>
        <br/>
        <%= link_to I18n.t("assignments.member.edit.title"), edit_member_assignment_path(@assignment) %>
        <br/>
        <%= link_to I18n.t('assignments.site.manage.delete'), member_assignment_path(@assignment), :method => :delete, :class => "delete",:confirm => I18n.t('assignments.member.remove.confirm') if @assignment.submissions.blank? %>
        <br/>
    </div>
</div>
<% end %>
