fieldset.profile {
	margin: 50px 0px 50px 0px;
	border: 1px solid #D6D6D6;
	background: #FCFAE6;
}

fieldset.profile legend {
	border: 1px solid #D6D6D6;
	padding: 3px;
	background-color	: #D9D7AC;
	margin-bottom: 20px;
}

fieldset.adhoc {
    border-top: 1px solid #D6D6D6;
    background: #FAFAFA;
    color: inherit;

}

a.add{
    background: url(../../images/add2.png) no-repeat right center;
    padding-right: 30px;
    text-decoration: none;
}