fieldset.profile {
	margin: 50px 0px 50px 0px;
	border: 1px solid #D6D6D6;
	background: #FAFAFA;
}

fieldset.profile legend {
	border: 1px solid #D6D6D6;
	padding: 3px;
	background: white;
}


fieldset.adhoc {
    border-top: 1px solid #D6D6D6;
    background: #FAFAFA;
    color: inherit;

}