<li class="clearfix">
    <div class="image">
        <%=link_to icon_for_profile(profile, 'small'), member_profile_path(profile) %>
    </div>
    <div class="title">
        <%= link_to profile.full_name, member_profile_path(profile) %>
    </div>
    <div class="members">
        <strong>Members</strong>
    </div>
    <div id="actions">

    </div>
</li>
