<% link = current_user.admin? ? admin_profiles_path(:group => @group, :type => type) : member_profiles_path(:group => @group, :type => type) %>

<div class="portlet <%= style || 'portletA' %>" id="portlet_friends">
    <h2><span><%= link_to_if items.size > 0, "#{title} (#{items.size})", link %></span></h2>
    <div class="portlet_content">
        <ul class="clearfix">
            <% unless items.blank? %>
            <% for item in items.first(8) %>
            <li>
                <%= link_to icon_for_profile(item, 'small'), member_profile_path(item), :title => item.full_name %>
            </li>
            <% end %>
            <% else %>
            <li>
                <%= no_items %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
