
.portletK {
    margin-bottom: 4em;
}

.portletK a {
    text-decoration: none;
    color: inherit;
}

.portletK ul li {
    list-style-type: none;
}

.portletK .icon {
    margin-right: 20px;
}

.portletK .title {
    font-family: 'Josefin Sans', sans-serif;
}

.portletK {
    width: 80%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFECCA;
}

.portletK:hover {
    background-color: #D9D7AC;
}

.portletK .button.main {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

.split {
    padding-bottom: 150px;
    position: relative;
    width: 200%;
}

.padding {
    padding-bottom: 250px;
}

.portletM {
    font-family: 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 30px;
    position: relative;
    width: 200%;
    padding-bottom: 100px;
}

.portletM img {
    margin-right: 40px;
    margin-top: -20px;
}

.portletM img.down {
    margin-top: 50px;
}

.portletM .left {
    width: 55%;
    float: left;
}

.portletM .right {
    width: 44%;
    float: right;
}

.portletM li {
    text-align: left;
    list-style-type: square;
}

.portletM h2 {
    text-align: left;
    color: #222;
}

.portletJ {
	margin-top : 100px;
}

.portletJ .title{
	padding-top: 30px;
	margin-left: 5px;
}

.portletO{
	font-size: 1.15em; 
}
.portletO h2 {
    background-color: #E9E9E9;
    padding: 8px 3px;
    font-size: 1.8em;
    margin-bottom: 0.5em;
	margin-top: 2em;
}

.portletO strong{
	font-size: 1.15em;
}

.portletO li{
	list-style-type: none;
	margin-top: 5px;
}

.back {
    border-bottom-color: #ACE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 50px;
    font-size: 14px;
    width: 200%;
}

.back a {
    text-decoration: none;
    margin-top: -20px;
    float: right;
}
