
.portletK {
    margin-bottom: 4em;
}

.portletK a {
    text-decoration: none;
    color: inherit;
}

.portletK ul li {
    list-style-type: none;
}

.portletK .icon {
    margin-right: 20px;
}

.portletK .title {
    font-family: 'Josefin Sans', sans-serif;
}

.portletK {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFECCA;
}

.split {
    width: 120%;
    height: auto;
    padding-bottom: 350px;

}






