table.aggregation, table.assignment, table.reports {
    border: none;
    width: 120%;
}

table.aggregation tr {
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}

table.aggregation td {
    font-size: 11px;
    vertical-align: top;
}

table.aggregation td.checkbox {
    padding: 15px 5px 10px 5px;
    vertical-align: top;
    width: 10%;
    border-left: none;
}

table.aggregation td.title {
    width: 20%;
    background-color: #EDF3FD;
}

table.assignment td.title {
    font-size: 0.8em;
    font-weight: normal;
    width: 70%;
}

table.assignment td.title .title {
    font-size: 2em;
    font-weight: bold;
}

table.aggregation tr.highlight, table.assignment tr.highlight {
    background-color: #FFF7C0;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    -moz-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    -o-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
}

table.aggregation ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

table.aggregation ul li {
    list-style-type: none;
    border-left: 1px solid #D1D1D1;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
}

table.aggregation div.details ul {
    padding: 10px 0;
}

li.assignment {
    background-color: #FFFAE7;
}

table.aggregation ul li._2 {
    background-color: #E5E5E5;
    color: inherit;
    margin-left: 20px;
}

table.aggregation li._2.assignment {
    background-color: #D9D7AC;
}

div.details ul li {
    width: auto;
}

table.aggregation ul li._3 {
    color: inherit;
    margin-left: 40px;
}

table.aggregation ul li._4 {
    color: inherit;
    margin-left: 60px;
}

table.aggregation td .tableB {
    background-color: #FFFAE7;
}

table.aggregation td .tableB {
    margin: 5px 0 5px 20px;
}


.left {
    float: left;
	display: inline-block;
	width: 75%;
}

.right{
	display: inline-block;
}
.right img{
    display: block;
}
