/*
 * schoolarly
 */
input, select, textarea {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
}

input, textarea {
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    background: url('img/common/headbg2.gif') repeat-x top left #fff;
}


.portletK {
    font-size: 1.6em;
    line-height: 1.3em;
    padding: 15px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.portletK h2 {
    margin: 0 0 0.5em 0;
}

.portletK ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* notice*/
.notice {
    color: #666;
    background-color: #edf3fd;
    padding: 8px 40px;
    margin: 1em -12px;
    font-size: 1.1em;
    border-top: 1px solid #b2c7df;
    border-bottom: 1px solid #b2c7df;
}

.notice.ok {
    color: #666;
    background: #edffe1 url(../images/ico/ok.gif) no-repeat 15px 0.9em;
    border-top: 1px solid #bdd8bd;
    border-bottom: 1px solid #bdd8bd;
}

.notice.warning {
    color: #666;
    background: #fdffcb url(../images/ico/warning.gif) no-repeat 15px 0.9em;
    border-top: 1px solid #fcd41d;
    border-bottom: 1px solid #fcd41d;
}

.notice.error {
    color: #666;
    background: #ffebe2 url(../images/ico/error.gif) no-repeat 15px 0.9em;
    border-top: 1px solid #fecfc1;
    border-bottom: 1px solid #fecfc1;
}


.breadcrumb .title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
}

.detail .image {
    float: left;
    display: inline;
    margin: 0 20px 7px 0;
}

.detail1 .image {
    float: left;
    display: inline;
    margin: 0 0 7px 0;
}

.wide {
    width: 150%;
}

.hidden_email {
    font-style: italic;
    color: red;
    font-size: 0.8em;
}

.tableE tr.odd {
    background-color: #EDF3FD;
}

.float_right {
    float: right;
    display: inline;
}

.portletB li .image {
    text-align: center;
    margin: 0 0 0.5em 0;
}

#sidebar {
    margin: 1.5em 0.5em;
}

#sidebar .accordion-heading {
    background: url('img/common/front_tab_bg.jpg');
}

#sidebar .accordion-heading a {
    color: #414141;
}

#sidebar .accordion-heading a {
    text-decoration: none;
}

#sidebar .accordion-heading a:hover {
    background-color: #f5f5f5;
}

#sidebar ul.accordion-inner {
    list-style-type: none;
}

#sidebar ul.accordion-inner li {
    padding: 9px 15px;
}

/**
 *
 */
.cb label {
    display: inline;
}

/*
 #header_content {
 background: #000 url('img/common/black-vertical-lines.png');
 min-height: 4em;
 line-height: 4em;
 color: #aaa;
 }
 */
#pagebody {
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    background: #FFFFFF;
    clear: both;
    margin-bottom: 20px;
}

#pagebody a {
    color: #1e5d8d;
}

#header, #header_content {
    width: 1200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background: url('img/common/headbg.gif') top repeat-y #112d42;
	line-height: 18px;
}

#header_options {
    height: 100px;
    font-weight: normal;
	color: #FFFFFF;
}

#header_content .nav {
    margin-bottom: 0;
}

#header_content a {
    color: #8DBDBD;
}

#container {
    font: normal 0.85em / 1.7em 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    width: 1200px;
}

#wrapper{
	margin: 1.5em 1.5em;
}

#top-bar a {
    color: #999;
}

#logo a {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-weight: bold;
    font-size: 23px;
    color: #8DBDBD !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

#logo a:hover, #logo a:focus {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);
}

/*
 #footerlogged {float: left; color:#839fb2; width:960px; height:110px;  background:#113046 repeat-y; border-bottom:20px solid white; padding-top:20px; font-size:11px;  font-family: Lucida Sans, Lucida Grande, Arial, Helvetica sans-serif }
 */
#top-bar {
    height: 50px;
    margin-left: 15px;
}

#top-bar li strong {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    display: inline;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
}

#top-bar li em {
    float: left;
    margin-left: 20px;
    width: 100px;
    font-style: normal;
    font-size: 11px;
    color: #CCC;
    cursor: pointer;
    display: inline
}

#top-bar li.on em {
    color: #FFF
}

#top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#top-bar li {
    float: left;
    height: 50px;
    width: 136px;
    color: #FFF;
	line-height: 18px;
}

#top-bar li a {
    height: 50px;
    width: 136px;
    display: block;
    color: inherit;
    text-decoration: none;
}

#top-bar li a:hover {
    background: url('img/common/topmenu_tabs_sprite.gif') no-repeat left;
    display: block;
    color: #FFF
}

#top-bar li a:hover em {
    color: #FFF
}

#top-bar li.on {
    background: url('img/common/topmenu_tabs_sprite.gif') no-repeat right;
}

#top-bar li.on a:hover {
    background: none;
}

#top-bar li.on a {
    color: black;
}

#top-bar li.on a em {
    color: black
}

#top-bar a.message-bubble {
    float: right;
    width: 48px;
    height: 48px;
    background: url(../images/ico/message_bubble3.png) no-repeat;
    font-size: 12px;
    margin-top: -25px;
    margin-left: -40px;
    text-align: left;
    position: absolute;
    color: red;
    font-weight: bold;
    padding: 5px 10px;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #0072AB;
}

.list-item {
    border-bottom: 1px solid #d1d1d1;
}

.block .title {
    margin-bottom: 10px;
}

.block .title a {
    font-family: 'verdana';
    font-size: 1.16em;
    line-height: 1.16em;
    color: #CA3F1A;
}

li.bold {
    font-size: 1.3em;
    text-align: center;
}

li.p1 a:hover {
    border-bottom: 3px solid #BD4746;
    color: inherit;
}

li.p2 a:hover {
    border-bottom: 3px solid #649005;
    color: inherit;
}

li.bold a {
    text-decoration: none;
    color: #AAA;
}

.titleB {
    font-size: 1.4em;
    padding: 15px 10px;
}

div.data {
    margin: 2% 2% 1em 2%;
}

form {
    margin: 10px;
    padding: 10px;
}

.portlet {
    margin-bottom: 1em;
}

.portlet h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
}

.portlet ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* links */
a.add {
    background: url(../images/ico/add.gif) no-repeat 2px 0.2em;
    padding-left: 20px;
    text-decoration: none;
}

a.sendmail {
    background: url(../images/ico/mail.gif) no-repeat 0 0.2em;
    padding-left: 20px;
    text-decoration: none;
}

a.delete {
    background: transparent url(../images/ico/delete.gif) no-repeat 3px 0.2em;
    color: #c00;
    padding-left: 20px;
    text-decoration: none;
}

a.cancel {
    background: transparent url(../images/ico/cancel.gif) no-repeat 2px 0;
    color: #c00;
    padding-left: 20px;
    text-decoration: none;
}

a.set_highlight {
    background: url(../images/ico/highlight.gif) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.smallarrow {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 3px 0;
    color: #333;
    padding-left: 20px;
    text-decoration: none;
}

a.smallarrow.greyleft {
    background-image: url(../images/ico/arrow-left-grey-small.gif);
}

a.smallarrow.greyright {
    background-image: url(../images/ico/arrow-right-grey-small.gif);
}

a.smallarrow.blueleft {
    background-image: url(../images/ico/arrow-left-blue-small.gif);
}

a.smallarrow.blueright {
    background-image: url(../images/ico/arrow-right-blue-small.gif);
}

iframe.doc {
    background: url(//crocodoc.com/media/images/docviewer/spinner.gif) no-repeat center;
    border: 1px solid #ddd;
    width: 900px;
    height: 1000px;
    margin-top: 10px;
}

div.Assignment {
    background-color: #EFEED1;
}

.time {
    float: center;
    font-size: 12px;
    color: #666;
}

.time .detail {
    font-size: 0.7em;
}

.score {
    float: right;
    color: #89725B;
    padding-left: 10px;
    margin-right: 30px;
    font-weight: bold;
}

.score .detail {
    font-size: 0.7em;
}

.breadcrumbs a {
    padding: 3px 10px;
    display: inline-block;
}

/**
 * Students/Teachers list display on group show
 */
.portletG ul {
    margin: 0 0 0 -20px;
}

.portletG li {
    float: left;
    display: inline;
    margin: 0 0 20px 20px;
}

/**
 * Students/Teachers list display on group show
 */
.portletB li a {
    text-decoration: none;
}

.portletB .detail1 .img {
    padding: 5px 10px 5px 0;
}

.portletB ul li._2 {
    background-color: #E5E5E5;
    color: inherit;
    margin-left: 20px;
}

.portletB ul li._3 {
    background-color: inherit;
    color: inherit;
    margin-left: 40px;
}

.portletB ul li._4 {
    background-color: inherit;
    color: inherit;
    margin-left: 60px;
}

.portletB li .tableB {
    background-color: #F5DEB3;
}

.portletB li .tableB {
    margin: 5px 0 5px 20px;
}

.portletL {
    color: #666;
}

.portletB .portletI li {
    margin-left: 60px;
    background-image: none;
    border: none;
    margin-bottom: 2px;
    padding-left: 10px;
    background-color: #E9E9E9;
}

.portletB .portletI ul {
    border: none;
    background-image: none;
}

.portletI li {
    margin-bottom: 2px;
    padding-left: 10px;
    background-color: #E9E9E9;
    list-style-type: none;
}

.portletI .image {
    float: left;
    display: inline;
    margin: 0 1em 0 0;
}

.portletH h2 {
    background-color: #E9E9E9;
    padding: 8px 3px;
}

/*
 * Group edit page
 */
.portletH .image.small {
    margin-left: -70px;
}

.portletH h2 a {
    font-size: 0.5em;
    float: right;
}

.portletH li div.title {
    padding-top: 20px;
}

.col_70_30 {
    clear: both;
    width: 100%;
}

.col_70_30 .left_col {
    float: left;
    display: inline;
    width: 69%;
}

.col_70_30 .right_col {
    float: right;
    display: inline;
    width: 28%;
}

form .fields p {
    margin: 0 0 1em 5%;
}

/* form */
fieldset {
    margin: 0;
    padding: 10px 0;
    border: 0;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 0 -10px;
    padding: 0;
    color: #666;
    background-color: transparent;
}

.fieldbox {
    border: 1px solid #d2d2d2;
    background: #fff;
    color: #000;
    padding: 1px 2px;
    vertical-align: middle;
}

form .helpinfo {
    font-size: 0.85em;
}

form .fields {
    position: relative;
    color: #666;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
}

form .fields select {
    vertical-align: top;
}

form .fields p.focused, form .fields tr.focused {
    background-color: #FCF8D7;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    -moz-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    -o-box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
    box-shadow: rgba(0, 0, 0, .20) 0px 0px 9px;
}

form .fields p {
    position: relative;
    margin: 0;
    padding: 10px;
    clear: both;
    line-height: 1em;
    font-size: 1.5em;
}

form .fields p:after {
    content: ".";
    display: block;
    height: 8px;
    clear: both;
    visibility: hidden;
}

form .fields p label, form .fields p .label {
    margin-left: 0;
    float: left;
    clear: both;
    display: block;
    text-align: left;
    position: relative;
    font-weight: normal;
}

form .fields p label.nolabel {
    margin-left: 0;
    float: none;
    width: auto;
    text-align: left;
}

form .wide {
    width: 95%;
}

form .actions {
    text-align: right;
}

form .actions input {
    margin-left: 10px;
    font-size: 1.5em;
}

html > /**/ body form .actions .button { /* hack, IE ignores */
    min-width: 150px;
}

li.late {
    background-color: #FFC0A9;
}

span.late {
    color: #C92C2C;
}

.block a.assignment_grade {
    background: url(../images/ico/grade_16x16.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
    font-size: 1.2em;
    color: #89725B;
}

.assignment_grade {
    background: url(../images/ico/grade_16x16.png) no-repeat 0 0;
    padding: 10px 10px 10px 20px;
    font-size: 1.2em;
    color: #89725B;
    font-weight: bold;
}

.passive {
    opacity: 0.5;
}

a.activity {
    background: url(../images/ico/classactivity.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.reports {
    background: url(../images/ico/grade_16x16.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.statistics {
    background: url(../images/ico/statistics.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.table {
    background: url(../images/ico/table.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.calendar {
    background: url(../images/ico/calendar2.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.ok {
    background: url(../tog_core/images/ico/ok.gif) no-repeat 0 0.2em;
    padding-left: 20px;
    text-decoration: none;
}

a.photo {
    background: url(../images/ico/photo2.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.video {
    background: url(../images/ico/video2.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.note {
    background: url(../images/ico/note_16x16.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}

a.quiz {
    background: url(../images/ico/quiz.png) no-repeat 0 0;
    padding: 2px 0 2px 20px;
    text-decoration: none;
}


/* button */
.button {
    border: 1px solid #999;
    background: #999;
    color: #fff;
    width: auto;
    text-align: center;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.button.mainaction {
    border-color: #8c9db0;
    background-color: #8c9db0;
    color: #fff;
}

.small {
    font-size: small;
}

a.icon {
    font-size: 0.5em;
    text-decoration: none;
}

img.overlap {
    margin: 0 0 0 -30px
}

table.profiles.tableE th, table.profiles.tableE td {
    border-right: 1px solid #D1D1D1
}

td.hover {
    text-align: center;
}

.hide {
    display: none;
}

.archive {
    position: relative;
    padding: 0 10px 0 10px;
    color: #333;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 0 1px 0 white;
    white-space: nowrap;
    border: 1px solid #D4D4D4;
    border-bottom-color: #BCBCBC;
    border-radius: 3px;
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);




	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA',endColorstr='#EAEAEA')";
	cursor: pointer;
	display: block;
}
