<% all_comments = commentable.comments %>
<% unless all_comments.size <= 2 or local_assigns[:show_all] %>
<% comments = all_comments.last(2) %>
<% else %>
<% comments = all_comments %>
<% end %>
<div class="portlet portletI">
    <div class="portlet_content">
        <ul class="comments_<%=commentable.class.name.demodulize %>_<%=commentable.id%>">
            <%= render :partial => 'shared/comment', :collection => comments %>
        </ul>
    </div>
</div>
<!-- /#potlet_featuredPosts -->
<% unless local_assigns[:exclude_add_comment] %>
<%= render :partial => "shared/add_comment", :locals => {:commentable => commentable} %>
<% end %>