<li id="comment_<%= comment.id %>">
    <%= comment.comment %>
    <div class="portletL fontsmaller">
        <%= I18n.t('assignments.site.list_detail.time_ago', :time => time_ago_in_words(comment.created_at)) %>
    </div>
</li>
