<div class="detail detail1">
    <!-- <div class="image"><img src="../design/garbage/foto140x140.jpg" alt="Imagen"></div> -->
    <div class="title"><%= attachment.description%></div>
	<%= image_tag attachment.doc.url('big') %>
</div> <!-- /.detail1 -->
