<% include_stylesheet 'home' %>
<% include_stylesheet 'home/testimonials' %>
<div class="back">
    <%= link_to "Testimonials", "/home/testimonials" %>
</div>
<div class="portletK testimonials split no-hover" id="portlet_splashHome">
    <div class="title">
        The Schoolarly Experience
    </div>
    <br/>
    <div class="portlet_content">
        <p>
            The idea of  the Schoolarly site was something I had been wishing for a long time since Scholastic withdrew their similar "class homepage" venture temporarily. 
        </p>
        <p>
            Schoolarly is a very useful interface for any educator who intends to make the teaching-learning process more interesting and effective.
            I have found Schoolarly particularly useful when I wanted to go  beyond the constraints of time and curriculum and share something more with  my students.  It gave me the flexibility to cater to their multiple intelligences, make learning fun  or even fire interest in the subject with the use of media resources.
        </p>
        <p>
            The sharing of notes or instructions with my students has never been so effortless . Schoolarly has also been an hassel-free way  to  keep track of submissions of assignments and record grades. <strong>Most importantly, it provided  me a platform for an individual feedback with each child, making me a mentor in the true sense. </strong>
        </p>
        <p>
            I honestly feel that Schoolarly can turn to be <strong>an innovation in education</strong>
            if utilized to its full potential. It holds immense scope for carrying out the teaching learning process in a planned, vivid, enriching and interactive manner. 
        </p>
        <p>
            However, Schoolarly needs to be a whole school venture to be a  powerful educative communication tool that benefits all. 
            Schoolarly needs to make few improvements with the layout or design to make it more attractive and appealing .  
            It needs to be more user friendly by having options to delete wrongly uploaded documents , have active icons for inbox with message , have a separate page/ icon for new submissions to make them easily accessible and have options to place ticks or wrongs for answers in submissions instead of the draw tool. 
            If it was possible to have some kind of privacy settings for photographs or videos, it would be a good platform for sharing the same.  
            I do not hate much about the site except the fact that it takes a long time to load a page , especially between submissions. 
        </p>
        <p>
            <br/>
            Anuradha Radhakrishnan 
            <br/>
            Teacher, <%= link_to "Global Public School", "http://www.globalpublicschool.org/", :class => "p1" %>
        </p>
    </div>
</div>

