<% include_stylesheet 'home' %>

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<div class="portletK" id="portlet_splashHome">
    <h2><span class="title">Teachers - Socialize your classroom!</span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/cloud.png" alt="" />
            <ul>
                <li>
                    Invite student comments and questions on the assignment page
                </li>
                <li>
                    Enrich your lesson plans with videos and web content
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title">Students - All your stuff in one place</span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/all_box.png" alt="" />
            <ul>
                <li>
                    Keep all your assignments and notes and use them forever
                </li>
                <li>
                    Forget CDs and flash drives - submit your assignments online
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="portletK" id="portlet_splashHome">
    <h2><span class="title">Parents stay in touch</span></h2>
    <div class="portlet_content">
        <div>
            <img class="float_left icon" src="/images/ico/graph.png" alt="" />
            <ul>
                <li>
                    Monitor your child's progress anywhere, anytime
                </li>
                <li>
                    Be in constant touch with the teachers and the school
                </li>
            </ul>
        </div>
    </div>
</div>
<br/>
<hr class="wide" />
<br/>
<br/>
<% content_for :sidebar do %>
<div class="portlet portletJ" id="portlet_pluginsTog">
    <h2><span>About us</span></h2>
    <div class="portlet_content">
        <ul>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_shenu.jpg" alt="" />
                </div>
                <div class="title">
                    Shenuja Subhash
                </div>
                <div class="text">
                    Shenuja Subhash
                </div>
                <div class="more">
                    <%= mail_to "shenuja@schoolarly.com" %>
                </div>
            </li>
            <li class="clearfix">
                <div class="image">
                    <img src="/images/small_subhash.jpg" alt="" />
                </div>
                <div class="title">
                    Subhash Gopalakrishnan
                </div>
                <div class="text">
                    Subhash Gopalakrishnan
                </div>
                <div class="more">
                    <%= mail_to "subhash@schoolarly.com" %>
                </div>
            </li>
        </ul>
    </div>
</div>
<br/>
<% end %>