<% include_jquery %>
<% include_pretty_photo %>
<% include_bootstrap %>
<% include_list_filters %>

<div id='sharings' class='jplist'>
    <div class="panel box">
		<div class="hidden" 
			data-control-type="default_sort" 
			data-control-name="sort" 
			data-control-action="sort"
			
			data-path=".share-date" 
			data-order="desc" 
			data-type="datetime">
		</div>    	
        <div class='drop-down' data-control-type='drop-down' data-control-name='paging' data-control-action='paging'>
            <ul>
                <li>
                    <span data-number='20' data-default='true'>20 per page </span>
                </li>
                <li>
                    <span data-number='50'>50 per page </span>
                </li>
                <li>
                    <span data-number='100'>100 per page </span>
                </li>
                <li>
                    <span data-number='all'>view all </span>
                </li>
            </ul>
        </div>
        <!-- filter -->
        <div class="filter">
        	<input class = "hidden" data-path='.share-date' type='text' value='' placeholder='Filter by author' data-control-type='textbox' data-control-name='share-date-filter' data-control-action='filter' />
			<input data-path='.author' type='text' value='' placeholder='Filter by author' data-control-type='textbox' data-control-name='author-filter' data-control-action='filter' />
            <input data-path='.title' type='text' value='' placeholder='Filter by title' data-control-type='textbox' data-control-name='title-filter' data-control-action='filter' />
			<input data-path='.group' type='text' value='' placeholder='Filter by group' data-control-type='textbox' data-control-name='group-filter' data-control-action='filter' />
        </div><!--[if IE]><div class='clear'></div><![endif]--><!-- paging -->
        <div class="cb-filters">
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="notices" data-path=".message" data-logic="or" id="message" type="checkbox" checked="checked">
                <label for="notices">
                    Messages
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="notes" data-path=".note" data-logic="or" id="note" type="checkbox" checked="checked">
                <label for="notes">
                    Notes
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="assignments" data-path=".assignment" data-logic="or" id="assignment" type="checkbox" checked="checked">
                <label for="assignments">
                    Assignments
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="submissions" data-path=".submission" data-logic="or" id="submission" type="checkbox" checked="checked">
                <label for="submissions">
                    Submissions
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="grades" data-path=".grade" data-logic="or" id="grade" type="checkbox" checked="checked">
                <label for="grades">
                    Grades
                </label>
            </div>			
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="photos" data-path=".photo" data-logic="or" id="photo" type="checkbox" checked="checked">
                <label for="photos">
                    Photos
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="videos" data-path=".video" data-logic="or" id="video" type="checkbox" checked="checked">
                <label for="videos">
                    Videos
                </label>
            </div>
            <div class="cb">
                <input data-control-type="cb_filters" data-control-action="filter" data-control-name="events" data-path=".event" data-logic="or" id="event" type="checkbox" checked="checked">
                <label for="event">
                    Events
                </label>
            </div>
        </div>
        <div class='paging-results' data-type='Page {current} of {pages}' data-control-type='label' data-control-name='paging' data-control-action='paging'>
        </div>
        <div class='paging' data-control-type='placeholder' data-control-name='paging' data-control-action='paging'>
        </div>
    </div>
    <%= render :partial => 'member/sharings/sharings' %>
</div>
