<h3>Click on a link to login as that user</h3>
<ul>
<li><%= link_to 'Albus Dumbledore', '/dumbledore' %>, the school administrator</li>
<li><%= link_to 'Minerva Mcgonagall', '/mcgonagall' %>, the English teacher</li>
<li><%= link_to 'Harry Potter', '/harry' %>, a student of class 1A</li>
</ul>