<% include_stylesheet 'demo' %>
<h2><span>Screencasts</span></h2>
<div class="image">
    <div class="title">
        School Administrator setting up a school
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/ao3dL2ABEeg" frameborder="0" allowfullscreen>
    </iframe>
</div>
<br/>
<br/>
<div>
    <div class="title">
        Communication and Collaboration between teacher and students
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/nIOVcdrMGCA" frameborder="0" allowfullscreen>
    </iframe>
</div>
<br/>
<br>
<div>
    <div class="title">
        Assessment and grading
    </div>
    <iframe class="demo" title="YouTube video player" src="http://www.youtube.com/embed/-026XiumjrU" frameborder="0" allowfullscreen>
    </iframe>
</div>
