<% include_stylesheet 'home' %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
<div class="portletK split" id="portlet_splashHome">
    <h2><span class="title"><%= I18n.t('home.pitch.teachers.title') %></span></h2>
    <div class="portlet_content">
        <%= link_to image_tag("/images/home/discussion2.png", :class =>"float_left icon"), "/images/home/discussion.png" %>
        <ul>
            <li>
                You would like your students to participate more in discussions surrounding assignments. 
            </li>
            <li>
                You need to zero in on those who are finding it difficult to master the material. 
            </li>
            <li>
                You would like it if students could contribute their own ideas and references from the internet. 
            </li>
            <li>
                You also want them to help each other out when they are stuck at a problem.
            </li>
            <li class="title">
                Schoolarly lets you manage all this by creating a discussion-space around each assignment and lesson-plan.
            </li>
        </ul>
    </div>
</div>

