
<div class='titleB'>
    <%= I18n.t('grades.member.edit.change') %>
</div>
<% remote_form_for :grade, :url => member_grade_path(@grade),:method => :put, :update => 'grade' do |f| %>
<%= render :partial => 'member/grades/form' , :locals => {:f => f } %>
<div class="actions">
    <%= submit_tag I18n.t('grades.member.edit.update'), {:class => "button mainaction", :accesskey => "s"} %>
</div>
<% end %>