<% remote_form_for :grade, :url => member_assignment_grades_path(@assignment), :update => 'grade' do |f| %>
<%= render :partial => 'member/grades/form' , :locals => {:f => f } %>
<div class="actions">
    <%= submit_tag I18n.t('grades.member.new.create'), {:class => "button mainaction", :accesskey => "s"} %>
</div>
<% end %>