<% include_stylesheet "rubric" %>
<% if i_am_the_owner_of?(@assignment.post) %>
<div class='titleB'>
    <%= I18n.t('grades.member.new.title') %>
</div>
<%= render :partial => 'member/grades/form' %>
<% end %>