<%= render :partial => 'member/submissions/show' %>

<div id='grade'>
    <%= render :partial => 'member/grades/show' %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'member/assignments/manage' %>
<% end %>
