<% if @assignment.shared_to?(current_user) and current_user.student? %>
<div class="portlet portletD" id="portlet_userWall">
    <h2><span><%= I18n.t('submissions.site.manage.title', :name => @assignment.post.title) %></span></h2>
    <div class="portlet_content">
        <% submission = @assignment.submissions.by(current_user) %>
        <% if submission.blank? %>
        <%= link_to I18n.t('submissions.site.manage.new'), new_member_assignment_submission_path(@assignment) %>
        <% else %>
        <%= link_to I18n.t('submissions.site.manage.view'), member_submission_path(submission) %>
        <% end %>
        <br/>
    </div>
</div>
<% end %>
