<% include_stylesheet "rubric" %>
<% include_javascript 'busy_ajax' %>
<% include_javascript 'jquery-1.4.2.min' %>
<script type="text/javascript">
    jQuery.noConflict();
</script>
<% pending_submission = @submission.blank? or !@submission.post.published? %>
<% title = pending_submission ? I18n.t('grades.member.new.pending') : @submission.post.title %>
<div class="titleB">
    <%= title %>
</div>
<% unless pending_submission %>
<% unless @submission.user == @submission.submitter %>
<div class="float_right">
    <%= I18n.t('submissions.model.by') %>
    <%= render :partial => 'member/profiles/header', :locals => {:profile => @submission.submitter.profile, :size => "small" } %>
</div>
<% end %>
<% if @session %>
<iframe src="https://crocodoc.com/view/?sessionId=<%= @session %>" />
<% end %>
<% end %>
<br/>
