<p>
<%= I18n.t("shares.mailer.new.#{@share.shareable_type}.detail", :shareable => @shareable_name, :shared_to => @shared_to_name, :user_name => @user_name) %>
</p>


<%= "Visit http://www.schoolarly.com to see the details."  %>
</p>